<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Player Name</th>
      <th>Position</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% players.forEach(function(p) { %>
      <tr>
        <td><%= m.player %></td>
        <td><%= m.position %></td>
        <td><a href="/player/<%= m._id %>">Player Profile</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
